<main>
    <h1>Welcome!!</h1>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
            <div class="myCard">
                <span class="material-symbols-outlined myIcon">
                face
                </span>
                <h2>Persons</h2>
        </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div class="myCard">
                    <span class="material-symbols-outlined myIcon">
                    pets
                    </span>
                    <h2>Animals</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="myCard">
                <span class="material-symbols-outlined myIcon">
                    potted_plant
                    </span>
                <h2>Plants</h2>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>Cars</mat-grid-tile>
        <mat-grid-tile>Compu</mat-grid-tile>
        <mat-grid-tile>Phones</mat-grid-tile>
      </mat-grid-list>
    
</main>

