<div class="container-form">
    <h2>Add New {{data}}</h2>
    <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput formControlName="type">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    
      <mat-form-field>
        <mat-label>Select Entity Type</mat-label>
        <mat-select [(ngModel)]="selectedOption">
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{ option.viewValue }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
</div>