<h1 class="title">
    <span class="material-symbols-outlined">
    {{ icon }}
    </span> {{ title }}</h1>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="search($event)" placeholder="Enter a data">
</mat-form-field>
<table mat-table [dataSource]="dataSource">
    <!-- Columna para el ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let user">{{ user.animalType }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let user">{{ user.description }}</td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let user">
          <a (click)="moreDetails(user.id)">
            <mat-icon class="details">visibility</mat-icon>
          </a>
        </td>
      </ng-container>
  
    <!-- Definir las columnas que se mostrarán -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Definir el paginador -->
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>